<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>监控系统</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="css/main.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
<header class="index-header">
	<h3 class="text-h3 text-center">监控系统</h3>
</header>
<div class="main-content">
	<div class="menu-left text-center">
		<select class="select-school">
			<option>学校列表1</option>
			<option>学校列表2</option>
			<option>学校列表3</option>
		</select>
	</div>
	<div class="main-box">
		<div class="monitor-div text-center">
			<div class="monitors text-center">
				<video src="#" width="320" height="240" controls="controls"></video>
				<p class="video-span">1</p>
				<div class="video-btn">
					<div class="direction-btn">
						<div class="btns btn-top"></div>
						<div class="btn-mid-box">
							<div class="btns btn-left"></div>
							<div class="btns btn-mid"></div>
							<div class="btns btn-right"></div>
						</div>
						<div class="btns btn-bottom"></div>
					</div>
					<div class="recording">
						<div class="record-btn">录播</div>
					</div>
				</div>
			</div>
			<div class="monitors text-center">
				<video src="#" width="320" height="240" controls="controls"></video>
				<p class="video-span">2</p>
				<div class="video-btn">
					<div class="direction-btn">
						<div class="btns btn-top"></div>
						<div class="btn-mid-box">
							<div class="btns btn-left"></div>
							<div class="btns btn-mid"></div>
							<div class="btns btn-right"></div>
						</div>
						<div class="btns btn-bottom"></div>
					</div>
					<div class="recording">
						<div class="record-btn">录播</div>
					</div>
				</div>
			</div>
			<div class="monitors text-center">
				<video src="#" width="320" height="240" controls="controls"></video>
				<p class="video-span">3</p>
				<div class="video-btn">
					<div class="direction-btn">
						<div class="btns btn-top"></div>
						<div class="btn-mid-box">
							<div class="btns btn-left"></div>
							<div class="btns btn-mid"></div>
							<div class="btns btn-right"></div>
						</div>
						<div class="btns btn-bottom"></div>
					</div>
					<div class="recording">
						<div class="record-btn">录播</div>
					</div>
				</div>
			</div>
			<div class="monitors text-center">
				<video src="#" width="320" height="240" controls="controls"></video>
				<p class="video-span">4</p>
				<div class="video-btn">
					<div class="direction-btn">
						<div class="btns btn-top"></div>
						<div class="btn-mid-box">
							<div class="btns btn-left"></div>
							<div class="btns btn-mid"></div>
							<div class="btns btn-right"></div>
						</div>
						<div class="btns btn-bottom"></div>
					</div>
					<div class="recording">
						<div class="record-btn">录播</div>
					</div>
				</div>
			</div>
			<div class="monitors text-center">
				<video src="#" width="320" height="240" controls="controls"></video>
				<p class="video-span">5</p>
				<div class="video-btn">
					<div class="direction-btn">
						<div class="btns btn-top"></div>
						<div class="btn-mid-box">
							<div class="btns btn-left"></div>
							<div class="btns btn-mid"></div>
							<div class="btns btn-right"></div>
						</div>
						<div class="btns btn-bottom"></div>
					</div>
					<div class="recording">
						<div class="record-btn">录播</div>
					</div>
				</div>
			</div>
			<div class="monitors text-center">
				<video src="#" width="320" height="240" controls="controls"></video>
				<p class="video-span">6</p>
				<div class="video-btn">
					<div class="direction-btn">
						<div class="btns btn-top"></div>
						<div class="btn-mid-box">
							<div class="btns btn-left"></div>
							<div class="btns btn-mid"></div>
							<div class="btns btn-right"></div>
						</div>
						<div class="btns btn-bottom"></div>
					</div>
					<div class="recording">
						<div class="record-btn">录播</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pagination text-center">
			<ul class="pager text-center">
		    	<li><a href="javascript:void(0);">上一页</a></li>
		    	<li><a href="javascript:void(0);">下一页</a></li>
		  	</ul>
		</div>
	</div>
</div>
<div id="mongolian"></div>
<div id="recordingPopup">
	<div id="popupClose">关闭</div>
	<div class="popup-video">
		<video src="#" width="970" height="500" controls="controls"></video>
	</div>
	<div class="popup-btn">
		<div class="popup-btn-time">
			<label>请选择时间段:</label>
			<input type="datetime-local" value="2018-10-6T00:00:00"/>
		</div>
		<div class="popup-btn-play">
			<span class="popup-video-play">播放</span>
		</div>
	</div>
</div>
</body>
</html>