<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.jk.mybatis.mapper.TokenMapper">
    <select id="getToken" resultType="com.x.jk.po.entity.Token">
        select * from token
    </select>
    <update id="updateToken" parameterType="java.lang.Long">
        update token set token_rs =#{token_rs}
    </update>

</mapper>